nav {
  height: 120px;
  width:100vw;
  background-color: #4056A1;
  color:#FFFFFF;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:0px 1.5em;
  position: fixed;
  top: 0;
  z-index: 2000;
}

nav span {
  display:block;
  font-family: 'Bungee', cursive;
}


.nt-button {
  display:flex;
  flex-direction: column;
  align-items:center;
}

/* @keyframes spinny{
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-45deg);
  }
  85% {
    transform: rotate(405deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes arrow{
  0% {
    transform: translateY(-7px);
  }
  30% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-7px);
  }
}

.arrow-down {
  margin-top:10px;
  color:goldenrod;
  cursor:pointer;
  animation-name:arrow;
  animation-duration:1.5s;
  animation-direction: linear;
  animation-iteration-count: infinite;
}

