nav {
  height: 120px;
  width:100vw;
  background-color: #4056A1;
  color:#FFFFFF;
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:0px 1.5em;
  position: fixed;
  top: 0;
  z-index: 2000;
}

nav span {
  display:block;
  font-family: 'Bungee', cursive;
}


.nt-button {
  display:flex;
  flex-direction: column;
  align-items:center;
}

.arrow-down {
  color:red;
}