main.container h2{
  margin-top:15px;
}


form.tweet-input textarea{
  border: none;
  height:70px;
  width:100%;
  background-color: #f4f1ec;
  border-bottom:solid 5px #545149;
  margin-bottom:5px;
  resize:none;
}

.user-handle{
  color:#95a1ca;
}

div.below-input {
  display:flex;
  justify-content:center;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

div.below-input output {
  font-family: 'Bungee', cursive;
}

div.below-input button {
  background-color: #4056A1;
  cursor:pointer;
  color:#FFFFFF;
  border: none;
  transition:0.5s;
}

div.below-input button:hover {
  padding: 1px 7px;
  background-color: skyblue;
}

.counter-overflow {
  color:red
}







